body{
    background-color:#feeafa;
    font-family: 'Comic Sans MS', Comic Sans, cursive
}
header,h1{
    background-color: #8e9aaf;
    padding: 15px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    
}

.intro{
    padding: 45px;
    background-color: #cbc0d3;
    border-radius: 5px;
}

.hobbies{
    background-color: #efd3d7;
   padding: 15px;
   border-radius: 2%;
}

li {
    margin: 2%;
}
ul li::marker{
    content: '♡';
}

footer{
    padding-top: 10px;
    border-top: 5px dotted rgb(0, 0, 0);
    text-align: center;
    background-color: #dee2ff;
    font-size: smaller ;
}
